<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>ShopHop</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">ShopHop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
		  <a class="nav-item nav-link" href="/aboutus">About Us</a>
		  <a class="nav-item nav-link" href="#">Contact</a>
		  <a class="nav-item nav-link" href="#">FAQ</a>
		</div>
	  </div>
	</nav>
	<div class="jumbotron">
	  <h1 class="display-4">ShopHop</h1>
	  <p class="lead">One stop solution for all your shopping needs.</p>
	  <hr class="my-4">
		<div class="card" style="width: 25rem;">
			<h1><div class="card-header">Reset password</div></h1>
			<div class="card-body">
				<form action="/forgotpassword" method="POST">
				  <div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" name="email" id="email"  placeholder="Enter email">
				  </div>
				  <div class="form-group">
					<label for="dob">Date of Birth</label>
					<input type="date" class="form-control" name="dob" id="dob"  placeholder="Enter date of birth">
				  </div>
				  <div class="form-group">
					<button type="submit" name="action" formaction="/send" >Generate Otp</button> 
					<br> <br>
					<label form="otpemail">Enter  otp</label>
                    <input type="text" class="form-control"  name="otpemail" id="otpemail"  placeholder="Enter otp">				
					
					<p class="lead">Error?<a href="/resend">Resend OTP</a></p>
				  </div>
				  <button type="submit"  class="btn btn-primary">Next</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
